* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1428px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  border: 0.2rem solid;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  color: #0156ff !important;
}
.button--primary {
  border-color: #0156ff;
}

.wrapper-header {
  background-color: black;
  color: #acacac;
}

.header {
  padding: 10px 0;
}
.header_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_time span:first-child {
  color: white;
}
.header_location a {
  color: white;
}
.header_contact {
  color: white;
}
.header_contact i {
  margin-left: 5px;
  font-size: 1.5em;
}

.nav {
  border-bottom: 1px solid #acacac;
  background-color: white;
}
.nav_root {
  padding: 25px 0;
  display: flex;
  align-content: center;
  position: relative;
}
.nav_logo {
  padding-right: 45px;
  margin-left: 15px;
}
.nav_logo_image {
  max-width: 5em;
  min-height: 5em;
  object-fit: cover;
}
.nav_lists {
  width: 971px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_link {
  font-size: 1.5em;
  color: black;
  font-weight: 600;
}
.nav_feature {
  display: flex;
  align-items: center;
  margin-left: 161px;
}
.nav_feature i {
  font-size: 1.5em;
  margin-left: 30px;
}
.nav_image_user {
  max-width: 3.5em;
  max-height: 3.5em;
  border-radius: 3.5em;
  margin-left: 30px;
}
.nav_search_text {
  padding: 0.7em;
  border-radius: 2rem;
}
.nav_search_field {
  position: absolute;
  top: 100%;
  right: 7%;
  height: 0px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  outline: none;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}
.nav_search_field.active {
  opacity: 1;
  height: 40px;
  pointer-events: auto;
}
.nav_search_icon {
  position: absolute;
  right: 11px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4rem !important;
}

.banner {
  padding-bottom: 37px;
}
.banner-prev {
  position: absolute;
  color: white;
  background-color: #282323;
  border-color: #282323;
  font-size: 24px;
  z-index: 1;
  width: 30px;
  height: 40px;
  border-radius: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  outline: none;
}
.banner-next {
  position: absolute;
  color: white;
  background-color: #282323;
  border-color: #282323;
  font-size: 24px;
  z-index: 1;
  width: 30px;
  height: 40px;
  border-radius: 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  outline: none;
}
.banner__slide button:first-child {
  outline: none;
  border: none;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}
.banner__slide button:last-child {
  outline: none;
  border: none;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}
.banner .fa-angle-left:before,
.banner .fa-angle-right:before {
  vertical-align: middle;
  font-size: 16px;
}

.new-products__title {
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-products__title h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
}
.new-products__title-link {
  font-size: 13px;
  line-height: 1.0714285714;
  color: black;
}
.new-products__title-link:hover {
  text-decoration: underline;
}
.new-products__item {
  max-width: 235px;
  padding: 0 25px;
  margin-bottom: 16px;
}
.new-products__item-image {
  padding: 26px 18px 10px;
}
.new-products__item-review {
  margin-bottom: 16px;
}
.new-products__item-review i {
  color: #e9a426;
}
.new-products__item-review span {
  margin-left: 9px;
  font-size: 12px;
  line-height: 2.0833333333;
  font-weight: 400;
  color: #acacac;
}
.new-products__item-link {
  display: block;
}
.new-products__item-link h5 {
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 1.4615384615;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.new-products__item-price {
  color: #8C8C8C;
  text-decoration-line: line-through;
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
}
.new-products__discount {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.new-products__check i, .new-products__check span {
  color: green;
}
.new-products__check span {
  margin-left: 4px;
}
.new-products__check .check-red {
  color: red;
}

.product-prev {
  position: absolute;
  color: white;
  background-color: #252931;
  border-color: #252931;
  font-size: 24px;
  z-index: 1;
  width: 30px;
  height: 40px;
  border-radius: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  outline: none;
  opacity: 0.2;
  transition: all 150ms;
}
.product-prev:hover {
  opacity: 0.5;
}

.product-next {
  position: absolute;
  color: white;
  background-color: #252931;
  border-color: #252931;
  font-size: 24px;
  z-index: 1;
  width: 30px;
  height: 40px;
  border-radius: 20px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  outline: none;
  opacity: 0.2;
  transition: all 150ms;
}
.product-next:hover {
  opacity: 0.5;
}

.new-products__lists button:first-child {
  outline: none;
  border: none;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}
.new-products__lists button:last-child {
  outline: none;
  border: none;
  border-radius: 30px 0px 0px 30px;
  cursor: pointer;
}
.new-products__lists .fa-angle-left:before,
.new-products__lists .fa-angle-right:before {
  vertical-align: middle;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
