.banner {
  padding-bottom: 37px;

  &-prev {
    position: absolute;
    color: $white;
    background-color: $black-blur-bg;
    border-color: $black-blur-bg;
    font-size: 24px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    outline: none;
  }

  &-next {
    position: absolute;
    color: $white;
    background-color: $black-blur-bg;
    border-color: $black-blur-bg;
    font-size: 24px;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    outline: none;
  }

  &__slide {

    button:first-child {
      outline: none;
      border: none;
      border-radius:0px 30px 30px 0px;
      cursor: pointer;
    }

    button:last-child {
      outline: none;
      border: none;
      border-radius:30px 0px 0px 30px;
      cursor: pointer;
    }
  }

  .fa-angle-left,
  .fa-angle-right {
      &:before {
        vertical-align: middle;
        font-size: 16px;
      }
  }

}
