$black: black;
$black-blur: #acacac;
$text-black-blur:#8C8C8C;
$bg-black-blur:#F5F7FF;

$black-blur-bg: #282323;
$button-next-bg:#252931;

$gray-text:#272560;

$white: white;

$primary: #0156ff;

$yellow: #e9a426;
