<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/logo.PNG"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MSI</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
    <div class="main">
      <!-- Header -->
      <div class="wrapper-header">
        <div class="container">
          <header class="header">
            <div class="header_info">
              <p class="header_time">
                Mon-Thu:
                <span>9:00 AM - 5:30PM</span>
                <span
                  ><i
                    style="color: white"
                    class="fa-solid fa-angle-down"
                  ></i
                ></span>
              </p>
              <p class="header_location">
                <span
                  >Visit our showroom in 1234 Street Adress City
                  Address, 1234 </span
                ><a href="#">Contact Us</a>
              </p>
              <p class="header_contact">
                <span>Call Us: (00) 1234 5678</span>
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram"></i>
              </p>
            </div>
          </header>
        </div>
      </div>

      <!-- NAVBAR -->
      <nav class="nav">
        <div class="container">
          <div class="nav_root">
            <div class="nav_logo">
              <a href="#">
                <img
                  src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.6435-1/67402148_2238589859542817_6614942564388700160_n.png?stp=dst-png_p148x148&_nc_cat=1&ccb=1-7&_nc_sid=1eb0c7&_nc_ohc=pOQWkEm5Sn8AX_MqFxh&_nc_ht=scontent.fsgn2-5.fna&oh=00_AT9Qo4wdsW2zck7okIJMH-4O3w_IHmF5o93IQ3UP0k4Y8w&oe=62FE09C9"
                  alt=""
                  class="nav_logo_image"
                />
              </a>
            </div>
            <ul class="nav_lists">
              <li class="nav_item">
                <a href="#" class="nav_link">Laptops</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Desktop PCs</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Networking Devices</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Printers & Scanners</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">PC Parts </a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">All Other Products</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Repairs</a>
              </li>
              <li class="nav_item">
                <a href="#" class="button button--primary nav_link"
                  >Our Deals</a
                >
              </li>
            </ul>
            <div class="nav_feature">
              <i class="fa-solid fa-magnifying-glass nav_search">
                
              </i>
              <div class="nav_search_field">
                <input
                  type="text"
                  placeholder="Search..."
                  class="nav_search_text"
                />
                <i
                  class="fa-solid fa-magnifying-glass nav_search_icon"
                ></i>
              </div>
              <i class="fa-solid fa-cart-shopping"></i>
              <img
                src="../img/imageUser.png"
                alt=""
                class="nav_image_user"
              />
            </div>
          </div>
        </div>
      </nav>

      <!-- Banner -->
      <div class="banner">
        <div class="container">
          <div class="banner__slide">
            <a href="#"><img src="../img/banner.png" alt="123" class="banner__slide-image"></a>
            <a href="#"><img src="../img/banner-2.jpg" alt="123" class="banner__slide-image"></a>
          </div>
        </div>
      </div>

      <!-- New Products -->
      <div class="new-products">
          <div class="container">
            <div class="new-products__title">
                <h3>New Products</h3>
                <a href="#" class="new-products__title-link">See All New Products</a>
            </div>

            <!-- New product item -->
          <ul class="new-products__lists">
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-regular fa-circle-check check-green"></i>
                <span>in stock</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/image-31.svg" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-solid fa-square-phone check-red"></i>
                <span class="check-red">check availability</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/image-30.svg" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-regular fa-circle-check check-green"></i>
                <span>in stock</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/image-29.svg" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-regular fa-circle-check check-green"></i>
                <span>in stock</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/image-31.svg" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-solid fa-square-phone check-red"></i>
                <span class="check-red">check availability</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/image-30.svg" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-solid fa-square-phone check-red"></i>
                <span class="check-red">check availability</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/image-29.svg" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
            <li class="new-products__item">
              <div class="new-products__check">
                <i class="fa-solid fa-square-phone check-red"></i>
                <span class="check-red">check availability</span>
              </div>
              <a href="#" class="new-products__item-link">
                  <img src="../img/newProduct1.png" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-regular fa-star"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span class="new-products__discount">$399.00</span>
                  </a>
            </li>
          </ul>
          </div>
      </div>

      <!-- Promotion -->
      <div class="container">
        <div class="promotion py-4 mb-3">
          <div class="promotion-logo">
            <img src="../img/icon-zip.jpg" alt="">
            <h3>ZIP</h3>
          </div>
          <span><b>own</b> it now, up to 6 months interest free <a href="#">learn more</a></span>
        </div>
      </div>

      <!-- PLP -->
      <div class="container">
        <div class="row">
          <div class="col-lg-2 plp-image">
            <img src="../img/image-32.jpg" alt="">
            <h3>Custome Builds</h3>
            <a href="#">See All Products</a>
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-2dot4 col-2dot4">
                <!-- List product -->
                <ul class="plp">
                  <li class="plp__item">
                    <div class="plp__check">
                      <i class="fa-regular fa-circle-check check-green"></i>
                      <span>in stock</span>
                    </div>
                    <a href="#" class="plp__item-link">
                        <img src="../img/image-33.svg" alt="" class="plp__item-image">
                          <div class="plp__item-review">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>Review(4)</span>
                          </div>
                          <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                          <span class="plp__item-price">$499.00</span>
                          <span class="plp__discount">$399.00</span>
                        </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2dot4 col-2dot4">
                <!-- List product -->
                <ul class="plp">
                  <li class="plp__item">
                    <div class="plp__check">
                      <i class="fa-solid fa-square-phone check-red"></i>
                      <span class="check-red">check availability</span>
                    </div>
                    <a href="#" class="plp__item-link">
                        <img src="../img/image-34.svg" alt="" class="plp__item-image">
                          <div class="plp__item-review">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>Review(4)</span>
                          </div>
                          <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                          <span class="plp__item-price">$499.00</span>
                          <span class="plp__discount">$399.00</span>
                        </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2dot4 col-2dot4">
                <!-- List product -->
                <ul class="plp">
                  <li class="plp__item">
                    <div class="plp__check">
                      <i class="fa-regular fa-circle-check check-green"></i>
                      <span>in stock</span>
                    </div>
                    <a href="#" class="plp__item-link">
                        <img src="../img/image-35.svg" alt="" class="plp__item-image">
                          <div class="plp__item-review">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>Review(4)</span>
                          </div>
                          <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                          <span class="plp__item-price">$499.00</span>
                          <span class="plp__discount">$399.00</span>
                        </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2dot4 col-2dot4">
                <!-- List product -->
                <ul class="plp">
                  <li class="plp__item">
                    <div class="plp__check">
                      <i class="fa-regular fa-circle-check check-green"></i>
                      <span>in stock</span>
                    </div>
                    <a href="#" class="plp__item-link">
                        <img src="../img/image-36.svg" alt="" class="plp__item-image">
                          <div class="plp__item-review">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>Review(4)</span>
                          </div>
                          <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                          <span class="plp__item-price">$499.00</span>
                          <span class="plp__discount">$399.00</span>
                        </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-2dot4 col-2dot4">
                <!-- List product -->
                <ul class="plp">
                  <li class="plp__item">
                    <div class="plp__check">
                      <i class="fa-solid fa-square-phone check-red"></i>
                      <span class="check-red">check availability</span>
                    </div>
                    <a href="#" class="plp__item-link">
                        <img src="../img/image-37.svg" alt="" class="plp__item-image">
                          <div class="plp__item-review">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <span>Review(4)</span>
                          </div>
                          <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                          <span class="plp__item-price">$499.00</span>
                          <span class="plp__discount">$399.00</span>
                        </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- Script -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.11.0.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
  ></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
  ></script>
  <script src="../js/search.js"></script>
  <script src="../js/slick.js"></script>
  </body>
</html>
