<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/logo.PNG"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>MSI</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="main">
      <!-- Header -->
      <div class="wrapper-header">
        <div class="container">
          <header class="header">
            <div class="header_info">
              <p class="header_time">
                Mon-Thu:
                <span>9:00 AM - 5:30PM</span>
                <span
                  ><i
                    style="color: white"
                    class="fa-solid fa-angle-down"
                  ></i
                ></span>
              </p>
              <p class="header_location">
                <span
                  >Visit our showroom in 1234 Street Adress City
                  Address, 1234 </span
                ><a href="#">Contact Us</a>
              </p>
              <p class="header_contact">
                <span>Call Us: (00) 1234 5678</span>
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram"></i>
              </p>
            </div>
          </header>
        </div>
      </div>
      <!-- NAVBAR -->
      <nav class="nav">
        <div class="container">
          <div class="nav_root">
            <div class="nav_logo">
              <a href="#">
                <img
                  src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.6435-1/67402148_2238589859542817_6614942564388700160_n.png?stp=dst-png_p148x148&_nc_cat=1&ccb=1-7&_nc_sid=1eb0c7&_nc_ohc=pOQWkEm5Sn8AX_MqFxh&_nc_ht=scontent.fsgn2-5.fna&oh=00_AT9Qo4wdsW2zck7okIJMH-4O3w_IHmF5o93IQ3UP0k4Y8w&oe=62FE09C9"
                  alt=""
                  class="nav_logo_image"
                />
              </a>
            </div>
            <ul class="nav_lists">
              <li class="nav_item">
                <a href="#" class="nav_link">Laptops</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Desktop PCs</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Networking Devices</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Printers & Scanners</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">PC Parts </a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">All Other Products</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Repairs</a>
              </li>
              <li class="nav_item">
                <a href="#" class="button button--primary nav_link"
                  >Our Deals</a
                >
              </li>
            </ul>
            <div class="nav_feature">
              <i class="fa-solid fa-magnifying-glass nav_search">
                <div class="nav_search_field">
                  <input
                    type="text"
                    placeholder="Search..."
                    class="nav_search_text"
                  />
                  <i
                    class="fa-solid fa-magnifying-glass nav_search_icon"
                  ></i>
                </div>
              </i>
              <i class="fa-solid fa-cart-shopping"></i>
              <img
                src="../img/imageUser.png"
                alt=""
                class="nav_image_user"
              />
            </div>
          </div>
        </div>
      </nav>
    </div>
  </body>
</html>
