<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="../img/logo.PNG"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
        rel="stylesheet"
        type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
      />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>MSI</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
    <div class="main">
      <!-- Header -->
      <div class="wrapper-header">
        <div class="container">
          <header class="header">
            <div class="header_info">
              <p class="header_time">
                Mon-Thu:
                <span>9:00 AM - 5:30PM</span>
                <span
                  ><i
                    style="color: white"
                    class="fa-solid fa-angle-down"
                  ></i
                ></span>
              </p>
              <p class="header_location">
                <span
                  >Visit our showroom in 1234 Street Adress City
                  Address, 1234 </span
                ><a href="#">Contact Us</a>
              </p>
              <p class="header_contact">
                <span>Call Us: (00) 1234 5678</span>
                <i class="fa-brands fa-facebook-square"></i>
                <i class="fa-brands fa-instagram"></i>
              </p>
            </div>
          </header>
        </div>
      </div>

      <!-- NAVBAR -->
      <nav class="nav">
        <div class="container">
          <div class="nav_root">
            <div class="nav_logo">
              <a href="#">
                <img
                  src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t1.6435-1/67402148_2238589859542817_6614942564388700160_n.png?stp=dst-png_p148x148&_nc_cat=1&ccb=1-7&_nc_sid=1eb0c7&_nc_ohc=pOQWkEm5Sn8AX_MqFxh&_nc_ht=scontent.fsgn2-5.fna&oh=00_AT9Qo4wdsW2zck7okIJMH-4O3w_IHmF5o93IQ3UP0k4Y8w&oe=62FE09C9"
                  alt=""
                  class="nav_logo_image"
                />
              </a>
            </div>
            <ul class="nav_lists">
              <li class="nav_item">
                <a href="#" class="nav_link">Laptops</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Desktop PCs</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Networking Devices</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Printers & Scanners</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">PC Parts </a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">All Other Products</a>
              </li>
              <li class="nav_item">
                <a href="#" class="nav_link">Repairs</a>
              </li>
              <li class="nav_item">
                <a href="#" class="button button--primary nav_link"
                  >Our Deals</a
                >
              </li>
            </ul>
            <div class="nav_feature">
              <i class="fa-solid fa-magnifying-glass nav_search">
                
              </i>
              <div class="nav_search_field">
                <input
                  type="text"
                  placeholder="Search..."
                  class="nav_search_text"
                />
                <i
                  class="fa-solid fa-magnifying-glass nav_search_icon"
                ></i>
              </div>
              <i class="fa-solid fa-cart-shopping"></i>
              <img
                src="../img/imageUser.png"
                alt=""
                class="nav_image_user"
              />
            </div>
          </div>
        </div>
      </nav>

      <!-- Banner -->
      <div class="banner">
        <div class="container">
          <div class="banner__slide">
            <img src="../img/banner.png" alt="123" class="banner__slide-image">
            <img src="../img/banner.png" alt="123" class="banner__slide-image">
          </div>
        </div>
      </div>

      <!-- New Products -->
      <div class="new-products">
          <div class="container">
            <div class="new-products__title">
                <h3>New Products</h3>
                <a href="#" class="new-products__title-link">See All New Products</a>
            </div>

            <!-- New product item -->
          <ul class="new-products__lists">
            <li class="new-products__item">
              <a href="#" class="new-products__item-link">
                  <img src="../img/newProduct1.png" alt="" class="new-products__item-image">
                    <div class="new-products__item-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half"></i>
                      <span>Review(4)</span>
                    </div>
                    <h5>EX DISPLAY : MSI Pro 16 Flex-036AU 15.6 MULTITOUCH All-In-On</h5>
                    <span class="new-products__item-price">$499.00</span>
                    <span>$399.00</span>
                  </a>
            </li>
           
          </ul>
          </div>          
      </div>
    </div>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
   <script src="../js/search.js"></script>
   <script src="../js/slick.js"></script>
  </body>
</html>
